
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    align-items: center;
    background-color: #eee8e8;
}

.navbar-project {
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
}
.navbar-project-internal {
    font-weight: 700;
    margin-left: 5px;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navbar-username {
    background-color: rgb(11, 193, 11);
    border-radius: 5px;
    padding: 7px;
    color:rgb(248, 242, 242);
    font-weight: 700;
    user-select: none;
    cursor: pointer;
}

.navbar-username:hover {
    background-color: rgb(11, 175, 11);
}
.navbar-analytics {
    background-color: rgb(11, 105, 193);
    border-radius: 5px;
    padding: 7px;
    color:rgb(248, 242, 242);
    font-weight: 700;
    user-select: none;
    cursor: pointer;
}
.navbar-analytics:hover {
    background-color: rgb(11, 85, 193);
}

.navbar-admin {
    background-color: rgb(255, 221, 0);
    border-radius: 5px;
    padding: 7px;
    color:rgb(248, 242, 242);
    font-weight: 700;
    user-select: none;
    cursor: pointer;
}
.navbar-admin:hover {
    background-color: rgb(255, 200, 0);
}
.navbar-signout {
    background-color: rgb(203, 5, 5);
    border-radius: 5px;
    padding: 7px;
    color: white;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
}

.navbar-signout:hover {
    background-color: rgb(158, 7, 7);
}

.navbar-middle {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-completion {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}